.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #000;
  color: #fff;
  padding: 5rem 40px;
  font-family: 'Arial', sans-serif;
}

.leftSection {
  flex: 1;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contactInfo {
  margin-bottom: 20px;
  line-height: 1.8;
}

.icon {
  margin-right: 10px;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcon {
  font-size: 20px;
  cursor: pointer;
}

.rightSection {
  flex: 2;
  display: flex;
  justify-content: space-between;
  margin-right: -17rem;
}

.column {
  flex: 1;
  margin-right: -20px;
}

.column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.column li:hover {
  text-decoration: underline;
} 

@media only screen and (min-width: 340px) and (max-width: 770px){
  .footer{
    flex-direction: column;
  }
  .rightSection{
    flex-direction: column;
  }
  .column{
    margin-top: 0.7rem;
  }
  .icon{
    margin: 2.5rem 0;
    color: white;
  }
  .info{
    color: rgba(255, 255, 255, 0.5);
  }
  .socialIcons{
    margin: 2.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  .list{
    color: rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (min-width: 771px) and (max-width: 830px){
  .footer{
    flex-direction: column;
  }
  .rightSection{
    display: flex;
    justify-content: space-evenly;
  }
  .column{
    margin-top: 0.7rem;
    margin-right: 12rem;
  }
  .icon{
    margin: 2.5rem 0;
    color: white;
  }
  .info{
    color: rgba(255, 255, 255, 0.5);
  }
  .socialIcons{
    margin: 2.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  .list{
    color: rgba(255, 255, 255, 0.5);
  }
}


@media only screen and (min-width: 831px) and (max-width: 1025px){
  .footer{
    flex-direction: column;
  }
  .rightSection{
    display: flex;
    justify-content: space-evenly;
  }
  .column{
    margin-top: 0.7rem;
    margin-right: 20rem;
  }
  .icon{
    margin: 2.5rem 0;
    color: white;
  }
  .info{
    color: rgba(255, 255, 255, 0.5);
  }
  .socialIcons{
    margin: 2.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  .list{
    color: rgba(255, 255, 255, 0.5);
  }
}