  .featuresContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .featureCard {
    width: 45%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .featureCard:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .featureImage {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .featureTitle {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
  }
  
  .featureDescription {
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
  }

  @media only screen and (min-width: 340px) and (max-width: 355px){
    .featuresContainer {
      flex-direction: column;
    } 
    .featureCard{
      width: 20rem;
      margin-left: -0.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  @media only screen and (min-width: 356px) and (max-width: 365px){
    .featuresContainer {
      flex-direction: column;
    } 
    .featureCard{
      width: 20rem;
      margin-left: -0.2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  @media only screen and (min-width: 366px) and (max-width: 395px){
    .featuresContainer {
      flex-direction: column;
    } 
    .featureCard{
      width: 20rem;
      margin-left: 0.7rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 450px){
    .featuresContainer {
      flex-direction: column;
    } 
    .featureCard{
      width: 20rem;
      margin-left: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  @media only screen and (min-width: 460px) and (max-width: 770px){
    .featuresContainer {
      flex-direction: column;
    } 
    .featureCard{
      width: 70%;
      margin-left: 7rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }